.tag {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	user-select: none;
	border-radius: 100px;
	overflow: hidden;
	padding: 2px 4px 2px 4px;
	max-width: 175px;

	@include media(md) {
		max-width: 220px;
	}

	@include media(lg) {
		padding: 4px;
	}

	@include media(xxl) {
		max-width: 320px;
		// padding: 8px 16px 8px 12px;
	}

	&.transparent-purple {
		border: 1px solid #a473f3;
		background: linear-gradient(
			88deg,
			rgba(164, 115, 243, 0.16) 1.56%,
			rgba(162, 119, 245, 0.16) 32.9%,
			rgba(125, 121, 254, 0.16) 61.87%,
			rgba(83, 116, 251, 0.16) 100.86%
		);
	}

	&.blue-gradient {
		border: 1px solid rgb(0, 84, 149);
		background: linear-gradient(
			88deg,
			rgba(0, 84, 149, 0.6),
			rgba(16, 120, 199, 0.6),
			rgba(0, 57, 168, 0.6)
		);
	}

	p {
		color: $white;
		font-family: Gilroy;
		font-weight: 700;
		text-decoration-line: underline;
		line-height: 1;
		font-size: 12px;
		@include truncate(1);

		@include media(sm) {
			font-size: 14px;
		}

		@include media(md) {
			font-size: 16px;
		}

		@include media(lg) {
			font-size: 18px;
		}

		@include media(xl) {
			font-size: 20px;
		}
	}

	&-img {
		flex-shrink: 0;

		img {
			aspect-ratio: 1/1;
			width: 100%;
			height: 100px;
			object-fit: cover;
			width: 37px;
			height: 37px;

			@include media(md) {
				width: 40px;
				height: 40px;
			}

			// @include media(xxl) {
			// 	width: 64px;
			// 	height: 64px;
			// }
		}
	}
}
