.mobile-menu {
	position: fixed;
	background-color: #171e2b;
	z-index: 4;
	padding: 60px 0 30px;
	inset: 0;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10%);
	transition: all 0.3s linear;

	&.show {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}

	@include media(md) {
		display: none !important;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 48px;

		li {
			color: $white;
			font-family: Gilroy;
			font-weight: 700;
			font-size: 20px;

			&.active {
				padding: 16px 30px;
				border: 1.5px solid $white;
			}

			a {
				color: inherit;
				font-family: inherit;
				font-size: inherit;
				font-size: inherit;
			}
		}
	}
}
