.slide {
	&-description {
		font-family: SF-Pro;
		line-height: 1.5;
		font-size: 18px;
		color: $white;
		margin-top: 12px;
		transition: color 0.8s linear;
		@include truncate(8);

		@include media(sm) {
			margin-top: 16px;
		}

		@include media(md) {
			font-size: 20px;
			margin-top: 20px;
		}

		@include media(lg) {
			margin-top: 24px;
		}

		@include media(xl) {
			margin-top: 26px;
			font-size: 22px;
		}

		@include media(xxl) {
			margin-top: 30px;
		}

		&.dark {
			color: $black;
		}

		p {
			&:first-child {
				margin-top: 0;
			}

			margin-top: 8px;

			@include media(sm) {
				margin-top: 10px;
			}

			@include media(lg) {
				margin-top: 12px;
			}
		}

		ul {
			margin-top: 8px;

			@include media(sm) {
				margin-top: 10px;
			}

			@include media(lg) {
				margin-top: 12px;
			}
		}
	}

	&-button {
		margin-top: 12px;

		@include media(sm) {
			margin-top: 20px;
		}

		@include media(md) {
			margin-top: 24px;
		}

		@include media(lg) {
			margin-top: 26px;
		}

		@include media(xl) {
			margin-top: 30px;
		}
	}

	&-tags {
		display: flex;
		flex-wrap: wrap;
		gap: 14px 20px;
		margin-top: 10vh;
	}

	&-1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100dvh;
		position: relative;
		z-index: 1;
		padding: 20px 0;

		@include media(sm) {
			padding: 20px 0 30px;
		}
	}

	&-2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100dvh;
		position: relative;
		z-index: 1;
		padding: 20px 0;

		@include media(sm) {
			padding: 20px 0 30px;
		}
	}

	&-3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100dvh;
		position: relative;
		z-index: 1;
		padding: 20px 0;

		@include media(sm) {
			padding: 20px 0 30px;
		}
	}

	&-4 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100dvh;
		position: relative;
		z-index: 1;
		padding: 20px 0;

		@include media(sm) {
			padding: 20px 0 30px;
		}
	}

	&-5 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100dvh;
		position: relative;
		z-index: 1;
		padding: 20px 0;

		@include media(sm) {
			padding: 20px 0 30px;
		}
	}

	&-6 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100dvh;
		position: relative;
		z-index: 1;
		padding: 20px 0;

		@include media(sm) {
			padding: 20px 0 30px;
		}
	}
}
