.slide-mixed-title {
	font-family: Gilroy;
	font-size: 20px;
	text-transform: uppercase;
	text-wrap: balance;
	font-weight: 900;
	text-shadow: 0px 4px 147px rgba(255, 255, 255, 0.25);

	p {
		line-height: 1;

		&:first-child {
			background: linear-gradient(
				90deg,
				#a473f3,
				#a277f5,
				#7d79fe,
				#5374fb 40%
			);

			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		&:last-child {
			background: linear-gradient(
				90deg,
				rgba(164, 115, 243, 0.2),
				rgba(83, 116, 251, 0.2)
			);

			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 1px rgb(164, 115, 243);
		}
	}

	@include media(sm) {
		font-size: 32px;
	}

	@include media(md) {
		font-size: 46px;
	}

	@include media(lg) {
		font-size: 56px;
	}

	@include media(xl) {
		font-size: 64px;
	}

	@include media(xxl) {
		font-size: 90px;
	}
}
