.progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 45px;
	width: 100%;
	background-color: rgba(11, 22, 31, 1);

	&.light {
		background-color: #aedfff;
	}

	@include media(lg) {
		display: none;
	}

	&__title {
		font-size: 14px;
		position: absolute;
		left: 20px;
		top: 45%;
		transform: translateY(-50%);
	}

	&__line {
		width: 0;
		height: 40px;
		background-image: linear-gradient(
			45deg,
			rgb(164, 115, 243, 0.5),
			rgb(162, 119, 245, 0.5),
			rgb(125, 121, 254, 0.5),
			rgb(83, 116, 251, 0.5)
		);
		transition: width 0.1s linear;
	}

	&__close {
		background-color: transparent;
		border: none;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
	}
}
